body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#0f172a;
    color:white;
}

.login-container{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.card{
    width:350px;
    padding:40px;
    border-radius:20px;
    background:rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.card h1{
    text-align:center;
}

input, select{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:10px;
}

button{
    width:100%;
    padding:12px;
    margin-top:20px;
    border:none;
    border-radius:10px;
    background:linear-gradient(90deg,#2563eb,#06b6d4);
    color:white;
    font-size:16px;
    cursor:pointer;
}

.dashboard{
    display:flex;
}

.sidebar{
    width:240px;
    height:100vh;
    background:#111827;
    padding:20px;
    position:fixed;
}

.sidebar h2{
    color:#38bdf8;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:12px;
    margin-top:10px;
    border-radius:10px;
    transition:0.3s;
}

.sidebar a:hover{
    background:#1e293b;
}

.main-content{
    margin-left:260px;
    padding:30px;
    width:100%;
}

.cards{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.dashboard-card{
    width:220px;
    background:#1e293b;
    padding:25px;
    border-radius:20px;
    box-shadow:0 0 15px rgba(0,0,0,0.2);
}

.page-card{
    margin-top:30px;
    background:#1e293b;
    padding:30px;
    border-radius:20px;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th{
    background:#2563eb;
    padding:15px;
}

table td{
    padding:15px;
    border-bottom:1px solid #334155;
}

.loan-documents{
    margin-top:30px;
    background:#0f172a;
    padding:20px;
    border-radius:15px;
}

.loan-documents ul{
    padding-left:20px;
}

.loan-documents li{
    margin-top:10px;
}
body {

    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
    padding: 0;
}

.container {

    width: 50%;
    margin: auto;
    margin-top: 50px;

    background: rgba(255,255,255,0.1);

    padding: 30px;

    border-radius: 15px;
}

input,
select,
button {

    width: 100%;
    padding: 12px;
    margin-top: 15px;

    border: none;
    border-radius: 10px;
}

button {

    background: #2563eb;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

pre {

    background: rgba(255,255,255,0.1);

    padding: 20px;

    border-radius: 10px;
}